@model List<FinalProject.Web.Models.EventModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <table id="table" style="width:100%">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.NomAssociation</td>
                <td><button onclick="SelectEvent(@item.Id)">Select</button></td>
            </tr>
        }
    </table>
</div>

<script>

    function createNode(element) {
        return document.createElement(element);
    }
    function append(parent, el) {
        return parent.appendChild(el);
    }
    function SelectEvent(id) {
        const url = 'http://localhost:57865/api/Events/' + id +'/Participants';
            fetch(url)
                .then((resp) => resp.json())
                .then(function (data) {
                    $('#table').empty();
                    let participant = data,
                        table = $('#table'),
                        trTitle = createNode('tr'),
                        th1 = createNode('th'),
                        th2 = createNode('th'),
                        th3 = createNode('th'),
                        th4 = createNode('th')


                        ;
                    
                    th1.innerHTML = "MemnerId";
                    th2.innerHTML = "FirstName";
                    th3.innerHTML = "LastName";
                    th4.innerHTML = "Credit";
                    append(trTitle, th1);
                    append(trTitle, th2);
                    append(trTitle, th3);
                    append(trTitle, th4);
                    append(table, trTitle);
                    

                })
                .catch(function (error) {
                    console.log(JSON.stringify(error));
                });
    }
</script>